{% extends 'layouts/base.html' %}

{% block title %}Privacy Policy{% endblock %}
{% block heading %}<h2>Privacy Policy</h2>{% endblock %}

{% block body %}
  <p>
    While to use this website to diagnose if you have strabismus or not, picture has to 
    be either captured from a camera integrated to your device, or uploaded from your device,
    we don't keep either your picture or diagnosis result anywhere on our website. As soon as
    your diagnosis session is done, all information will be deleted.
  </p>

  <small class="text-muted">Last updated Sep 13th 2020</small>
{% endblock %}
