{% extends 'layouts/base.html' %}

{% block title %}Capture a Picture for Strabismus Diagnosis{% endblock %}
{% block heading %}<h2>Capture a Picture for Strabismus Diagnosis</h2>{% endblock %}

{% block body %}
<div class="container-fluid" style="height:85vh; padding:10px; background-image:url('static/images/network.jpg'); background-size:cover;">
    <div class="row">
        <div class="col-lg-5">
            <div class="inputoutput">
                <div class="caption" style="background-color: lavender;"><b>Streaming Video</b></div>
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavender;">
                                <div id="videoblock">
                                    <video id="video_port" playsinline autoplay></video>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--
                -->
                <button>Take snapshot</button>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
            <div class="inputoutput">
                <div class="caption" style="background-color: lavenderblush;"><b>Captured Snapshot</b></div>
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavenderblush;">
                                <canvas id="canvasOutput" width="400" height="500"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <canvas></canvas>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{{ url_for('static', filename='scripts/video/video_process.js') }}"></script>

<div>
    <h2>Diagnosis Result:</h2>
</div>

{% endblock %}