{% extends 'layouts/base.html' %}

{% block title %}Terms of Service{% endblock %}
{% block heading %}<h2>Terms of Service</h2>{% endblock %}

{% block body %}
    <p>
      By using the CNN4Strabismus ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
    </p>
    <p>
      CNN4Strabismus, LLC ("company") reserves the right to update and change these
      terms of service without notice.
    </p>
    <p>
      Violation of any of the terms below may result in the termination of your
      account.
    </p>

    <hr>

    <h3>General conditions</h3>
    <p>
      Your use of the Service is at your sole risk. The service is provided on
      an "as is" and "as available" basis.
    </p>
    <p>Technical support is only provided via email.</p>
    <p>
      You understand that the company uses third party vendors and hosting
      partners to provide the necessary hardware, software, networking,
      storage, and related technology required to run the service.
    </p>
    <p>You must not modify, adapt or hack the service.</p>
    <p>
      You must not modify another website so as to falsely imply that it is
      associated with the service or the company.
    </p>
    <p>
      You agree not to reproduce, duplicate, copy, sell, resell or exploit any
      portion of the service, use of the service, or access to the service
      without the express written permission by the company.
    </p>
    <p>
      We may, but have no obligation to, remove content and accounts that we
      determine in our sole discretion are unlawful or violates any party's
      intellectual property or these terms of service.
    </p>
    <p>
      Verbal, physical, written or other abuse (including threats of abuse or
      retribution) of any service customer, company employee or officer will
      result in immediate account termination.
    </p>
    <p>
      You understand that the technical processing and transmission of the
      service, including your content, may be transferred unencrypted and
      involve (a) transmissions over various networks; and (b) changes to conform
      and adapt to technical requirements of connecting networks or devices.
    </p>
    <p>
      The company does not warrant that (i) the service will meet your
      specific requirements, (ii) the service will be uninterrupted, timely,
      secure, or error-free, (iii) the results that may be obtained from the
      use of the service will be accurate or reliable, (iv) the quality of any
      products, services, information, or other material purchased or obtained
      by you through the service will meet your expectations, and (v) any
      errors in the service will be corrected.
    </p>
    <p>
      You expressly understand and agree that the company shall not be liable
      for any direct, indirect, incidental, special, consequential or exemplary
      damages, including but not limited to, damages for loss of profits,
      goodwill, use, data or other intangible losses (even if the company has
      been advised of the possibility of such damages), resulting from: (i) the
      use or the inability to use the service; (ii) the cost of procurement
      of substitute goods and services resulting from any goods, data, information
      or services purchased or obtained or messages received or transactions
      entered into through or from the service; (iii) unauthorized access to
      or alteration of your transmissions or data; (iv) statements or conduct of
      any third party on the service; (v) or any other matter relating to the
      service.
    </p>
    <p>
      The failure of the company to exercise or enforce any right or provision
      of the terms of service shall not constitute a waiver of such right or
      provision. The terms of service constitutes the entire agreement
      between you and the company and govern your use of the service, super-ceding
      any prior agreements between you and the company (including, but not
      limited to, any prior versions of the terms of service).
    </p>
    <p>
      Questions about the terms of service should be sent to
      <a href="mailto:support@local.host">support@local.host</a>.
    </p>
    <p>
      Any new features that augment or enhance the current service, including
      the release of new tools and resources, shall be subject to the terms
      of service. Continued use of the service after any such changes shall
      constitute your consent to such changes.
    </p>

    <small class="text-muted">Last updated Sep 13th 2020</small>
{% endblock %}
