{% extends 'layouts/base.html' %}

{% block title %}Upload a Picture for Strabismus Diagnosis{% endblock %}
{% block heading %}<h2>Upload a Picture for Strabismus Diagnosis</h2>{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="inputoutput">
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavender;">
                                <canvas id="canvasInput" width="250" height="250"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--
                -->
                <div class="caption">Uploaded Image</div>
                <input type="file" id="fileInput" name="file">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="inputoutput">
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavenderblush;">
                                <canvas id="canvasOutput" width="250" height="250"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="caption">Processed Image</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2>Diagnosis Result:</h2>
</div>
<script type="text/javascript" src="https://docs.opencv.org/3.4.0/opencv.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/photo/photo_process.js') }}"></script>
{% endblock %}