{% extends 'layouts/base.html' %}

{% block title %}Upload a Picture for Strabismus Diagnosis{% endblock %}
{% block heading %}<h2>Upload a Picture for Strabismus Diagnosis</h2>{% endblock %}

{% block body %}
<div class="container-fluid" style="height:85vh; padding:10px; background-image:url('static/images/eye1.jpg'); background-size:cover;">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
            <div class="inputoutput">
                <div class="caption" style="background-color: lavender;"><b>Uploaded Image</b></div>
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavender;">
                                <canvas id="canvasInput" width="400" height="500"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--
                -->
                <input type="file" id="fileInput" name="file" style="background-color: lavender;">
            </div>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
            <div class="inputoutput">
                <div class="caption" style="background-color: lavenderblush;"><b>Processed Image</b></div>
                <table cellpadding="0" cellspacing="0" width="0" border="0">
                    <tbody>
                        <tr>
                            <td style="background-color:lavenderblush;">
                                <canvas id="canvasOutput" width="400" height="500"></canvas>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2>Diagnosis Result:</h2>
</div>
<script type="text/javascript" src="https://docs.opencv.org/3.4.0/opencv.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/photo/photo_process.js') }}"></script>
{% endblock %}